<footer class="text-center">
  <div class="text-center text-white p-3">
    © Find a Pairs! All rights reserved.<br>
    <i class="fa-solid fa-envelope"></i> <a href="mailto:support@pairs.is-a.host">support@pairs.is-a.host</a>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>