<%- include("partials/header", { title: "404" }) %>

<div class="container-sm center" style="margin-top: 25px; margin-bottom: 5rem;">
    <div class="d-grid gap-2 col-12 mx-auto">
        <h1 class="display-4 fw-bold text-center">¯\_(ツ)_/¯</h1>
        <h6 class="text-center">We looked anywhere but still can't find what are you looking for.</h3>
            <a href="/" class="btn btn-primary" style="margin-left: 30rem; margin-right: 30rem;">Back</a>
    </div>    
</div>

<%- include("partials/footer") %>