<%- include("partials/header", { title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px; margin-bottom: 5rem;">
  <div class="d-grid gap-2 col-12 mx-auto">
      <div class="px-4 pt-5 my-5 text-center">
        <h1 class="display-4 fw-bold">Let's <span style="color: #FFC83D;">Find a Pairs!</span></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">"Find a Paires" is a Discord bot that does everything in the name. The bot just basicly let's you play a game which is basicly finding same emojis. </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="#more" class="btn btn-secondary btn-lg px-4 me-sm-3">Know more</a>
          </div>
        </div>
      </div>
      
      <section id="more">
      <div class="row">
        <div class="col-6">
          <img src="../showcase-1.png" style="border-radius: 2rem; width: 600px;" class="img-fluid">
        </div>
        <div class="col-6">
          <h1>Just find <span style="color: #FFC83D;">pairs</span>.</h1>
          <p>"Find a Pairs" is a Discord bot that makes it easy for users to find matching pairs of images (emojis). The bot is easy to use, and you simply need to click on the images with an ❓ emoji on them. They will show a random emoji, you will have to remeber them and then press another button.</p>
          <p>In addition to its wide variety of emojis, "Find a Pairs" also makes it easy to share the emojis you find with others. You can easily share your favorite emojis with your friends and family on Discord, or even use them in your own messages.</p>
          <p>Overall, "Find a Pairs" is an extremely useful bot for anyone who wants to find the perfect matching pairs of images or emojis. It's easy to use, has a huge collection of options and allows to share the found images easily. Whether you're looking for the perfect emoji for your next message or just want to browse for fun, "Find a Pairs" is the bot for you.</p>
        </div>
      </div>
      <div class="row" style="margin-top: 4rem;">
        <div class="col-6">
          <h1>Everything is <span style="color: #FFC83D;">clear</span>.</h1>
          <p>The bot is easy to use, with a clear and intuitive interface that makes it simple to navigate. The commands are straightforward and easy to understand, making it easy to find and join a game with other players. The bot also features a leaderboard, so players can keep track of their progress and compete with others. Overall, Find a Pairs! is a well-designed and user-friendly bot that makes it easy for players to find and play with other players on Discord."</p>
        </div>
        <div class="col-6">
          <img src="../showcase-2.png" style="border-radius: 2rem; width: 550px; margin-left: 4rem;" class="img-fluid">
        </div>
      </div>
      </section>
  </div>
</div>

<%- include("partials/footer") %>