<%- include("partials/header", { title: "Team" }) %>

<div class="container-sm center" style="margin-top: 25px; margin-bottom: 5rem;">
    <div class="d-grid gap-2 col-12 mx-auto">
        <h1 class="display-4 fw-bold"><span style="color: #FFC83D;">Find a Pairs</span> Team</h1>
        <div class="row">
            <div class="col-md-2">
              <div class="card" style="background: none; border: none; text-align: center; width: 150px;">
                <img src="https://cdn.discordapp.com/avatars/813812775968833586/20d7d8b783286c8cfae10a7896c2a714.png?size=1024" class="card-img-top pfp" alt="Profile Picture">
                <div class="card-body text-center">
                  <h5 class="card-title">Pedrex</h5>
                  <span class="badge rainbow">Owner</span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
                <div class="card" style="background: none; border: none; text-align: center; width: 150px;">
                  <img src="https://cdn.discordapp.com/avatars/594112974151483392/a8a80557fbd763e5d58ee56181883c37.png?size=1024" class="card-img-top pfp" alt="Profile Picture">
                  <div class="card-body text-center">
                    <h5 class="card-title">Theodoor</h5>
                    <span class="badge" style="background-color: #9b3f3f;">CEO</span>
                    <span class="badge" style="background-color: #9B59B6;">Booster</span>
                  </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<%- include("partials/footer") %>