<%- include("partials/header", { title: "Team" }) %>

<div class="container-sm center" style="margin-top: 25px; margin-bottom: 5rem;">
    <div class="d-grid gap-2 col-12 mx-auto">
        <h1 class="display-4 fw-bold"><span style="color: #FFC83D;">Find a Paires</span> Team</h1>
        <div class="row">
            <div class="col-md-2">
              <div class="card" style="background: none; border: none; text-align: center; width: 150px;">
                <img src="https://cdn.discordapp.com/avatars/813812775968833586/20d7d8b783286c8cfae10a7896c2a714.png?size=1024" class="card-img-top rounded-circle" alt="Profile Picture">
                <div class="card-body text-center">
                  <h5 class="card-title">Pedrex</h5>
                  <span class="badge" style="background-color: #f77171;">Owner</span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
                <div class="card" style="background: none; border: none; text-align: center; width: 150px;">
                  <img src="https://cdn.discordapp.com/avatars/594112974151483392/a8a80557fbd763e5d58ee56181883c37.png?size=1024" class="card-img-top rounded-circle" alt="Profile Picture">
                  <div class="card-body text-center">
                    <h5 class="card-title">Theodoor</h5>
                    <span class="badge" style="background-color: #9b3f3f;">CEO</span>
                    <span class="badge" style="background-color: #9B59B6;">Booster</span>
                  </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<footer class="text-center text-white bg-dark sticky-bottom d-flex">
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © Find a Pairs! All rights reserved.
    </div>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>