<%- include("partials/header", { title: "Terms" }) %>

<div class="container-sm center" style="margin-top: 25px; margin-bottom: 5rem;">
    <div class="d-grid gap-2 col-12 mx-auto">
        <h1 class="display-4 fw-bold text-center">We are working daily to complete this page.</h1>
    </div>    
</div>

<%- include("partials/footer") %>